.signin {
    display: inline-block;
    border: 1px solid gray;
    color: #065fd4;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .signin:hover {
    background-color: #bee0fd;
    border: 1px solid transparent;
  }

  .photo {
    width: 40px; /* Set the width of the photo */
    height: 40px; /* Set the height of the photo */
    border-radius: 50%; /* Makes the photo circular */
    margin-right: 15px; /* Adds space between the photo and the button */
    object-fit: cover; /* Ensures the photo covers the area without stretching */
    border: 2px solid #065fd4; /* Adds a blue border matching the button color */
    display: inline-block; /* Aligns the photo with the button */
    vertical-align: middle; /* Aligns the photo vertically to the middle */
}

  